.gifts {
  overflow: hidden;
  padding: 45px 20px 60px;

  @media (min-width: $screen-sm) {
    padding: 90px 20px;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__title {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 28px;
    line-height: 1.1em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;

    @media (min-width: $screen-sm) {
      font-size: 39px;
      margin-bottom: 45px;
    }
  }

  &__wrap {
    text-align: center;
    padding: 45px 20px;
    position: relative;
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(90deg, #A86B1D 0%, #C49642 11.09%, #DAB960 22.19%, #EBD275 33.28%, #F5E182 42.36%, #F8E687 50.43%, #F6E181 62.53%, #F1D370 77.66%, #E9BD54 95.81%, #E6B54A 100.86%);
    border-image-slice: 1;

    @media (min-width: $screen-sm) {
      border-width: 10px;
      padding: 75px 60px;
    }

    @media (min-width: $screen-xl) {
      padding: 75px 120px;
    }
  }

  &__content {

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 45px 60px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }

  &__divider {
    color: #44433f;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Tex Gyre Adventor', sans-serif;

    @media (min-width: $screen-sm) {
      grid-column: 1 / span 2;
      margin: 0;
    }
  }

  &__gift {
    margin: 0;
    font-family: 'Tex Gyre Adventor', sans-serif;

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (min-width: $screen-sm) {
        margin: 0;
      }
    }

    &--accent {

      @media (min-width: $screen-sm) {
        grid-column: 1 / span 2;
      }

      .gifts__gift-title {
        font-size: 20px;

        @media (min-width: $screen-md) {
          font-size: 28px;
        }
      }
    }
  }

  &__gift-title {
    color: #cd9e25;
    text-decoration: underline;
    font-size: 16px;
    line-height: 1.8em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    margin-top: 0;
    margin-bottom: 10px;

    @media (min-width: $screen-md) {
      font-size: 20px;
    }
  }

  &__gift-caption {
    color: #558a7a;
    font-size: 16px;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;

    @media (min-width: $screen-md) {
      font-size: 20px;
    }
  }

  &__decor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__leaf {
    position: absolute;
    width: 60px;
    height: 150px;

    @media (min-width: $screen-md) {
      width: 120px;
      height: 300px;
    }

    &--top {
      top: 0;
      right: 0;
      transform: rotate(120deg) translate(100%, -25%);
      transform-origin: top right;
    }

    &--right {
      top: 0;
      right: 0;
      transform: translateX(50%);
      z-index: -1;
    }

    &--bottom {
      bottom: 0;
      left: 0;
      transform: rotate(-60deg) translate(0, 80%);
      transform-origin: bottom left;
    }

    &--left {
      bottom: 0;
      left: 0;
      transform: rotate(180deg) translateX(50%);
      z-index: -1;
    }
  }
}