extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block content
  section.gifts
    .gifts__container
      h2.gifts__title Эксклюзивные подарки к каждому платью. Выберите свой:
      .gifts__wrap
        .gifts__content

          figure.gifts__gift.gifts__gift--accent
            h3.gifts__gift-title Скидка 30% на процедуры в салоне красоты Zdezz_studio
            figcaption.gifts__gift-caption Каждой невесте!

          .gifts__divider А также:

          figure.gifts__gift
            h3.gifts__gift-title
              | Романтический ужин
              br
              | в ресторане “Доктор живаго”
            figcaption.gifts__gift-caption Каждой невесте!

          figure.gifts__gift
            h3.gifts__gift-title
              | Фотосессия
              br
              | Love story
            figcaption.gifts__gift-caption
              | При покупке платья
              br
              | до 150 тыс. руб

          figure.gifts__gift
            h3.gifts__gift-title
              | Девичник на трех человек
              br
              | в рестотране
              br
              | “Доктор живаго”
            figcaption.gifts__gift-caption
              | При покупке платья
              br
              | до 200 тыс. руб

          figure.gifts__gift
            h3.gifts__gift-title
              | Royal фотосессия
              br
              | и ужин в ресторане
              br
              | “Турандот”
            figcaption.gifts__gift-caption
              | При покупке платья
              br
              | от 200 тыс. руб

        .gifts__decor
          img.gifts__leaf.gifts__leaf--top(src='img/leaf.png', alt='decor')
          img.gifts__leaf.gifts__leaf--right(src='img/leaf.png', alt='decor')
          img.gifts__leaf.gifts__leaf--bottom(src='img/leaf.png', alt='decor')
          img.gifts__leaf.gifts__leaf--left(src='img/leaf.png', alt='decor')