@font-face {
  font-family: 'EB Garamond';
  src:
    url('../fonts/ebgaramond-500-normal.woff2') format('woff2'),
    url('../fonts/ebgaramond-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tex Gyre Adventor';
  src:
    url('../fonts/tex-gyre-adventor-400.woff2') format('woff2'),
    url('../fonts/tex-gyre-adventor-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tex Gyre Adventor';
  src:
    url('../fonts/tex-gyre-adventor-700.woff2') format('woff2'),
    url('../fonts/tex-gyre-adventor-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}